peft==0.14.0
soundfile 
librosa
transformers==4.46.3
sentencepiece==0.1.97
accelerate==1.1.1
bitsandbytes==0.45.3
gradio==3.23.0
numpy==1.26.4

--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchaudio